@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');


.MuiContainer-root {
    display: flex !important;
    justify-content: space-between !important;
}

.MuiList-padding{
    margin:20px !important;
}