*{
margin: 0;
padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carouselItem{
  height: 100vh;
  text-align: center;
  /* object-fit: ; */
}

.carouselItemImg{
  width: 100%;
  height: 80vh;
object-fit:cover;
}

.img{
  height: 100vh;
}

.img-container {
  display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.text-container{
  text-align: center;
  width: 100%;
  margin:10px;
}

h2{
  color: #818181;
  text-align: center;
}

p{
  font-size: 18px;
  line-height: 30px;
  color: #818181;
}

.cover-img{
  width: 100%;
  height: 100vh;
  position: relative;
}

.cover-img::before{
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.75) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.about-img{
  width: 100%;
  height: 100vh;
}
